.containerForButtons {
    display: flex;
    margin: auto;
    max-width: 150px;
    justify-content: space-between;
}

.button {
    background-color: rebeccapurple;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    color: white;
}

.containerForText {
    padding-top: 50px;
    width: 580px;
    height: 100px;
    margin: auto;
    font-size: 20px;
    color: white;
    font-weight: 700;
}


/* стилизация purple heartRain */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.heart {
    position: fixed;
    top: -1vh;
    font-size: 2rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}


.containerToast {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 100vh;
}

.toast{
    width: 400px;
    padding: 30px;
    background-color: beige;
    color: purple;
    height: 100px;
    border: none;
    border-radius: 30px;
    margin: 20px;
}